*{
    padding: 0;
    margin: 0;
}

th{
    width: 100px ;
}

.Navbar {
    background-color: #46ACC2;
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    color: white;
}
 
.NavBar_items{
    display: flex;

}

.NavBar_link{
    padding-right: 8px;

}

.Navbar__Items--right {
    margin-left:auto;

  }

  @media only screen and (max-width: 768px) {
    .NavBar_items,
    .Navbar {
      flex-direction: column;
    }

    .NavBar_items{
        display: none;
    }

    .Navbar__Items--right {
      margin-left: 0;
    }
  }

.bt-categorias{
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #33ff00;
    border-radius: 5px;
    background-color: #33ff00;
    cursor: pointer;
}

.bt-categorias:hover{
    background-color: #489933;
}

.bt-produtos{
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #ffbb00;
    border-radius: 5px;
    background-color: #ffbb00;
    cursor: pointer;
}

.bt-produtos:hover{
    background-color: #a7831f;
}

.bt-vendas{
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    background-color: #ff0000;
    cursor: pointer;
}

.bt-vendas:hover{
    background-color: rgb(151, 0, 0);
}

.bt-voltar{
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #11d2d2;
    border-radius: 5px;
    background-color: #11d2d2;
    cursor: pointer;
}

.bt-voltar:hover{
    background-color: #208d8d;
}

table,th{
    border: 1px solid #000;
}

.white-sapce{
    background-color: blue;
    width: 400px;
    height: auto;
}

.bt-gray{
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: gray;
    cursor: pointer;
}

.bt-gray:hover{
    background-color: whitesmoke;
}

.bt-cadastrar{
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #00aeff;
    border-radius: 5px;
    background-color: #00aeff;
    cursor: pointer;
}
.bt-cadastrar:hover{
    background-color: #006b9c;
}

/* página de vendas */

.container-inferior{
    display: flex;
    flex-direction: row;
}

.container-cards{
    display: flex;
    flex-direction: inline;
    flex-wrap: wrap;
    width: auto;
    
}

/* carrinho */

    .container-carrinho{
        border: 1px solid black;
        background-color: rgb(255, 71, 34);
        width: 100%;
        max-width: 310px;
        margin-right: 5px;

    }

/* arise */

    .container-arise{
        margin: 5px;
    }

    .bt-pesquisar{
        display: flex;
        width: 100%;
        padding: 5px 10px;
        border: 1px solid #ff624a;
        border-radius: 5px;
        background-color: #ff624a;
        cursor: pointer;

    }

    .bt-pesquisar:hover{
        background-color: #bf4735;
    }

    .categorias{
        border: 1px solid black;
    }

/* cards */

    .card-p{
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 190px;
        margin: 5px;
    }

    .quad{
        background-color: #006b9c;
        width: 170px;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
    }

    .adicionar-btn{
        display: flex;
        justify-content: space-around;
    }

    .add-symbol{
        width: 50px;
    }

/* fim da pagina vendas */

/* pagina de produtos */

    .tb-prod{
        background-color: #ffbb00;
    }

    .cadastrar{
        background-color: #ffbb00;
    }
/* fim da pagina de produtos*/

/* pagina de categorias */

    .cad_categoria{
        background-color: #489933;
        color: white;
    }
    
    .tb-categoria{
        background-color: #489933;
        color: white;
    }

    .teste{
        display: flex;
        text-wrap: wrap;
    }

/* fim da pagina de categorias */

/* Casses genéricas */

.inline{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.center{
    display: flex;
    justify-content: center;
}

.pad10d{
    padding-bottom: 10px;
}

.marg05l{
    margin: 0 5px;
}

.espaco-entre{
    display: flex;
    justify-content: space-around;
}

.input-size{
    width: 100%;
}