<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="botoes-topo inline">
        <div >
            <button type="button" class="bt-categorias" onclick="location.href='view.categorias.html'">Categorias</button>
        </div>
        <div >
    
            <button type="button" class="bt-produtos" onclick="location.href='view.produtos.html'">Produtos</button>
        </div>
        <div >
            <button type="button" class="bt-vendas" onclick="location.href='view.vender.html'">Vendas</button>
        </div> <!-- fim dos botoes-topo -->

    </div> <!-- fim dos botoes-topo -->
    <div class="inline">
        <div class="white-sapce"></div> <!-- espaço em branco -->
        <div class="tabela">
            <table>
                <h2>Produtos Cadastrados</h2>
                <tr>
                    <th>coluna 1</th>
                    <th>coluna 2</th>
                    <th>coluna 3</th>
                </tr>
                <tr>
                    <td>linha 1</td>
                    <td>linha 1</td>
                    <td>linha 1</td>
                </tr>
                <tr>
                    <td>linha 2</td>
                    <td>linha 2</td>
                    <td>linha 2</td>
                </tr>
                <tr>
                    <td>linha 3</td>
                    <td>linha 3</td>
                    <td>linha 3</td>
                </tr>
            </table>
        </div> <!-- fim da tabela -->
    </div> <!-- fim do inline -->
</body>
</html>