<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="botoes-topo inline pad10d">
        <div >
            <button type="button" class="bt-voltar" onclick="location.href='index.html'">VOLTAR</button>
        </div>

        <div >
            <button type="button" class="bt-gray" onclick="location.href='categorias.html'">Categorias</button>
        </div>
        <div >
    
            <button type="button" class="bt-produtos" onclick="location.href='produtos.html'">Produtos</button>
        </div>
        <div >
            <button type="button" class="bt-gray" onclick="location.href='vender.html'">Vendas</button>
        </div> <!-- fim dos botoes-topo -->

    </div> <!-- fim dos botoes-topo -->
    <div class="inline marg05l">
        <div class="cadastrar">
            <form action="" method="get" >
                <div class="column ">
                    <div class="center pad10d">
                        <label for="" class="marg05l">Categoria</label>
                        <select name="" id=""></select>
                    </div>
                    <div class="center pad10d">
                        <label for="categoria" class="marg05l">Nome</label>
                        <input type="text" name="cad_nome" id="nome" class="input-size marg05l"/>
                    </div>

                </div>
                <div class="column">
                    <div class="inline center pad10d">
                        <label for="" class="marg05l" class="marg05l">Imagem: </label>
                        <input type="file" class="">

                    </div>
                    <div class="center pad10d bt-">
                        <button class="bt-cadastrar">enviar</button>

                    </div>
                </div>

                <div class="column pad10d">
                    <div class="center pad10d">
                        <label for="" class="marg05l">Valor</label>
                        <input type="number" name="" id="" class="marg05l input-size"/>
                    </div>
                    <div class="center">
                        <label for="" class="marg05l">Quantidade</label>
                        <input type="number" name="" id="" class="marg05l input-size"/>
                    </div>
                </div>

                <div class="center">
                    <input type="submit" value="Cadastrar" class="bt-cadastrar">
                </div>
            </form>
        </div> <!--  -->
        <div class="marg05l">
            <table class="tb-prod tabela" >
                <h2>Produtos Cadastrados</h2>
                <tr>
                    <th>#CD</th>
                    <th>Categoria</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>QTD</th>
                    <th>Foto</th>
                    <th>#Opções</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div> <!-- fim da tabela -->
    </div> <!-- fim do inline -->
</body>
</html>