<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="botoes-topo inline">
        <div >
            <button type="button" class="bt-voltar" onclick="location.href='index.html'">VOLTAR</button>
        </div>

        <div >
            <button type="button" class="bt-gray" onclick="location.href='categorias.html'">Categorias</button>
        </div>
        <div >
    
            <button type="button" class="bt-produtos" onclick="location.href='produtos.html'">Produtos</button>
        </div>
        <div >
            <button type="button" class="bt-gray" onclick="location.href='vender.html'">Vendas</button>
        </div> <!-- fim dos botoes-topo -->

    </div> <!-- fim dos botoes-topo -->
    <div class="inline">
        <div class="cadastrar">
            <form action="" method="get">
                <div>
                    <label for="">Categoria</label>
                    <select name="" id=""></select>
                </div>
                <div class="column">
                    <label for="categoria">nome</label>
                    <input type="text" name="cad_nome" id="nome">
                </div>
                <div>
                    <label for="">foto</label>
                    <input type="file"><button>enviar</button>
                </div>
                <div>
                    <label for="">valor</label>
                    <input type="number" name="" id="">
                </div>
                <div>
                    <label for="">quantidade</label>
                    <input type="number" name="" id="">
                </div>
                <div>
                    <input type="submit" value="Cadastrar" class="bt-cadastrar">
                </div>
            </form>
        </div> <!--  -->
        <div class="tabela">
            <table>
                <h2>Produtos Cadastrados</h2>
                <tr>
                    <th>#CD</th>
                    <th>Categoria</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>QTD</th>
                    <th>Foto</th>
                    <th>#Opções</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div> <!-- fim da tabela -->
    </div> <!-- fim do inline -->
</body>
</html>