<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="botoes-topo inline">
        <div >
            <button type="button" class="bt-voltar" onclick="location.href='index.html'">VOLTAR</button>
        </div>

        <div >
            <button type="button" class="bt-gray" onclick="location.href='categorias.html'">Categorias</button>
        </div>
        <div >
    
            <button type="button" class="bt-gray" onclick="location.href='produtos.html'">Produtos</button>
        </div>
        <div >
            <button type="button" class="bt-vendas">Vendas</button>
        </div>


    </div> <!-- fim dos botoes-topo -->
    <div>
        <label for="">filtros</label>
        <input type="search" name="" id="">
        <input type="submit" value="Pesquisar">
    </div>
    <div>
        <div class="card-p">
            <div class="quad">
            </div>
            <div class="adicionar">
                <div>
                    <h2>NOME</h2>

                </div>
                <div class="adicionar-btn">
                    <label for="">Adicionar</label>
                    <input type="button" value="+">
                </div>
            </div>
        </div>
    </div>
</body>
</html>