<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="botoes-topo inline">
        <div >
            <button type="button" class="bt-voltar" onclick="location.href='index.html'">VOLTAR</button>
        </div>

        <div >
            <button type="button" class="bt-gray" onclick="location.href='view.categorias.html'">Categorias</button>
        </div>
        <div >
    
            <button type="button" class="bt-gray" onclick="location.href='view.produtos.html'">Produtos</button>
        </div>
        <div >
            <button type="button" class="bt-vendas">Vendas</button>
        </div>


    </div> <!-- fim dos botoes-topo -->
    
    <div class="container-inferior">

        <div class="container-arise">
            <div class="pesquisa pad10d">
                <div class="pad10d">
                    <label for="filtro">Filtros:</label>
                    <input type="search" name="filtro" id="pesquisar">
                </div>

                <div class="pad10d">
                    <input type="submit" value="Pesquisar" class="bt-pesquisar">
                </div>
            
            </div>
            <div class="categorias column">
                <div class="center"><h2>Categorias</h2></div>
                <div class="center pad10d">
                    <ul>
                        <li>Categoria A</li>
                        <li>Categoria B</li>
                        <li>Categoria C</li>
                    </ul>

                </div>
            </div>

        </div>

        <div class="container-cards">
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>

                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
    
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>
                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
    
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>
                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
    
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>
                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
    
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>
                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
    
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>
                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
    
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>
                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
    
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>
                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
    
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>
                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
    
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>
                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
    
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>
                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
    
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>
                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
    
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>
                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
    
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>
                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
            
            <div class="card-p">
                <div class="center pad10d">
                    <div class="quad"></div>
                </div>
                <div class="adicionar">
                    <div class="center">
                        <h2>NOME</h2>
    
                    </div>
                    <div class="adicionar-btn pad10d">
                        <label for="">Adicionar</label>
                        <input type="button" value="+" class="add-symbol">
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container-carrinho">
            <table>
                <div><h2>CARRINHO</h2></div>
                
                <tr>
                    <th>Produto</th>
                    <th>Unitário</th>
                    <th>QTD</th>
                    <th>Total</th>

                    </div>
                </tr>

            </table>
        </div>

    </div>


</body>
</html>